*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: grid;
  grid-template-columns: 711px 410px;
  align-items: end;
  column-gap: 30px;
}

.content__details {
  display: flex;
  flex-flow: column nowrap;
  justify-content: end;
}

.content__list {
  height: 298px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgb(48, 48, 48) transparent;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.result__video-container {
  box-sizing: content-box;
  height: 399px;
  overflow: hidden;
}

.result__video {
  width: 100%;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 16px;
  padding-bottom: 3px;
}

.title {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  line-height: 0.94em;
  font-size: 75px;
  padding-bottom: 26px;
}

.content__accent {
  color: #545050;
}

.content__list-item:not(:last-child) {
  padding-bottom: 32px;
}

.content__video-card {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  padding: 2px;
}

.content__video-card:active {
  background-color: #545050;
}

.content__list-item:hover {
  text-decoration: underline;
  cursor: pointer;
}

.content__list-item:active {
  text-decoration: none;
}

/*для того чтобы в мозилле не было синей обводки при табуляции с клавиатуры*/
@-moz-document url-prefix() {
  .content__card-link:focus-visible,
  .content__list:focus-visible {
    outline: 1px solid #fff;
  }
}

.content__card-link {
  display: block;
  margin: 3px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__list-item:focus {
  outline: 0;
}

.content__list-item:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card-thumbnail {
  /*height: 103px;*/
  width: 194px;
}

.content__video-card-description-container {
  width: 100%;
  max-width: 195px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2em;
  padding-bottom: 5px;
}

.search-form__label {
  box-sizing: content-box;
  width: 62px;
  margin-bottom: 8px;
}

.search-form__label:hover {
  cursor: pointer;
  text-decoration: underline;
}

.search-form__label:active:has(:focus-visible) {
  outline: 0;
}

.search-form__label:focus {
  outline: 0;
}

@-moz-document url-prefix() {
  .location_fieldset .search-form__label:has(:focus-visible) {
    outline: 1px solid #fff;
    outline-offset: 0.27em;
  }
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield {
  box-sizing: border-box;
  appearance: none;
  width: 225px;
  background-color: transparent;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  line-height: 1em;
  padding-top: 3px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.search-form__textfield:active {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.search-form__textfield:focus {
  outline: 0;
}

.search-form__textfield::placeholder {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 1.2em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 0.9em;
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 212px;
}

.search-form__checkbox-list .search-form__label {
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.search-form__pseudo-checkbox {
  display: block;
  box-sizing: border-box;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  cursor: pointer;
}

input[type="checkbox"]:checked + span::after {
  content: "";
  position: relative;
  display: inline-block;
  bottom: 1px;
  left: 1px;
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.search-form__label-text {
  line-height: 0;
}

.button {
  height: 34px;
  background-color: transparent;
  border: 1px solid #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.button:active {
  text-decoration: none;
  background-color: #545050;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  width: 194px;
}

.more-button {
  width: 395px;
  margin-left: 2px;
  margin-bottom: 3px;
}

/* прелоадер для окна результатов */
.result__video-container .preloader {
  position: relative;
  inset: -405px 0 0 0;
  height: 100%;
  z-index: 1;
}

/* прелоадер для окна выбора */
.content__list .preloader {
  position: relative;
  inset: 0;
  height: 100%;
  z-index: 1;
}

.result__video-container .error {
  position: relative;
  inset: -405px 0 0 0;
  height: 100%;
  z-index: 1;
}
